<?xml version="1.0"?>

<launch>
   
  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch"/>
  <!-- <include file="$(find hector_gazebo_worlds)/launch/plane.launch"/> -->
  <!-- <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/> -->


  

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_downward_thermaleye_cam_laser.launch" >  
  </include>


    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_quadrotor_demo)/rviz_cfg/outdoor_flight_down_thermaleye_cam.rviz"/>
  

   
</launch>
