<launch>

  <!-- Note that axis IDs are those from the joystick message plus one, to be able to invert axes by specifiying either positive or negative axis numbers.-->
  <!-- Axis 2 from joy message thus has to be set as '3' or '-3'(inverted mode) below-->
  <param name="radius" type="double" value="0.5" />
  <param name="height" type="double" value="3" />
  <param name="velocity" type="double" value="1" />
  <node pkg="hector_quadrotor_teleop" type="quadrotor_draw_circle" name="quadrotor_draw_circle" output="screen">
  </node>

</launch>

